<ion-header >
  <ion-toolbar >
    <ion-title primary >Homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/dan3.png" />
  
    <form (ngSubmit)="onSubmit()">

      <ion-list lines="full" class="ion-no-margin on-no-padding" >
        <ion-item>
          <ion-label for="thrift" position="floating">MM DD YY</ion-label>
          <ion-datetime required id="thrift" [(ngModel)]="mythrift" name="date" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
        </ion-item>
      
        <ion-item>
          <ion-label for="thrift1" position="floating">Enter Amount</ion-label>
          <ion-input required id="thrift" [(ngModel)]="mythrift1" name="amount" placeholder="Enter amount"></ion-input>
        </ion-item>

        <ion-button  fill="solid" expand="block" color="dark" type="submit" (click)="contribute()">Contribute</ion-button>
        <ion-item *ngFor='let item of Items'>
           {{(item)?.amount}} : {{item.date}}
        </ion-item>
      </ion-list>
    </form>
    
  <!-- <ion-tabs>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/profile" routerDirection="root">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/history" routerDirection="root">
        <ion-icon name="time"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/homepage" routerDirection="root">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/login" routerDirection="root">
        <ion-icon name="exit"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
  
  
    </ion-tab-bar>
  
  </ion-tabs> -->
  
</ion-content>
