<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN HERE!</ion-title>
  </ion-toolbar>
</ion-header>
&nbsp;<br>
<ion-content>
  <img src="../../assets/icon/dan.png" />
  <h3>Login Here</h3>
  <div class="loginform" >

    
    <ion-item>
      <ion-label position="floating">Username or ID</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    &nbsp;
    <ion-button routerLink="/homepage" routerDirection="root">Login</ion-button>
  </div>
  <p>Don't have an existing account?<ion-button routerLink="/register" routerDirection="root">Register Here!</ion-button></p>
</ion-content>
