<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-label>Name:</ion-label>
  </ion-card>
  <ion-card>
    <ion-label>Address:</ion-label>
  </ion-card>
  <ion-card>
    <ion-label>Customer's ID:</ion-label>
  </ion-card>
  <ion-button>Edit Profile</ion-button>
</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/profile" routerDirection="root">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/history" routerDirection="root">
      <ion-icon name="time"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/homepage" routerDirection="root">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/login" routerDirection="root">
      <ion-icon name="exit"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>