<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large">MyThrift</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <div id="container">
    <strong><marquee>You're Welcome To myThrift, we're pleased to have you here</marquee></strong>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
   <div id="image">
    <img src="../../assets/icon/dan1.png" />
   </div>
    <p></p>
    <div class="buttons">
      <ion-button url="login" routerLink="/login" routerDirection="root">Login</ion-button><ion-button routerLink="/register" routerDirection="root">Register</ion-button>
    </div>
  </div>
  
</ion-content>
