<ion-header>
  <ion-toolbar>
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/dan2.png" />
  <div class="register">
    <ion-item>
      <ion-label position="floating">Firstname</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Lastname</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Occupation</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">House Address</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Verify Password</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button routerLink="/login" routerDirection="root">Register</ion-button>
  </div>

  <p>Have an existing account?<ion-button routerLink="/login" routerDirection="root">Login here</ion-button></p>

</ion-content>
